#container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    background-color:rgb(218, 218, 218);
}
header{
    display: block;
}
.logo Govbr{
    width: 10%;
    height: auto;
}
